<header class="navbar p-2">
    <section class="navbar-section flex-centered">
        <a href="/" class="navbar-brand mx-2">Home</a>
        <a href="/about" class="navbar-brand mx-2">About</a>
        <a href="/contact" class="navbar-brand mx-2">Contact me!</a>
    </section>
</header>
