<div id="main" class="text-center">
    <h1>Contact Form</h1>
    <div class="container">
        <form class="form1" action="https://formsubmit.co/your@email.com" method="POST">
            <input type="text" name="Name" placeholder="Full Name" required>
            <input type="email" name="Email" placeholder="Email" required>
            <select name="About" required>
                <option value="" disabled selected>Select Subject</option>
                <option value="School">School</option>
                <option value="Work">Work</option>
                <option value="Other">Other</option>
            </select>
            <textarea name="Message" placeholder="Message" rows="10" required></textarea>
            <button class="send" type="submit">Send</button>
        </form>
    </div>
    <h3>&#128241;Call me at +46702327107</h3>
    <h5><br>&#128071;Instagram and other social medias&#128071;</h5>
    <h3>&#128187;@zebjosefsson</h3>
</div>