<div id="main">
    <div>
        <h1 class="text-center">Maths&#128218;</h1>
        <div class="text-center">
            <h3>Discrete Mathematics</h3>
            <div class="math">Discrete mathematics enhances logial reasoning aswell as problem-solving skills, which is very helpful in fields requiring precise and structured thinking. This coupled with the fact that this branch of mathematics is crucial for computer science, providing a foundation for datastructures, algorithms and cryptography, there is no wonder to as why we are taking it as computer science students.
            </div>
            <br>
            <h3>Linear Algebra</h3>
            <div class="math">Linear algebra explores vector spaces, linear mappings between these spaces, it also deals with algebraic systems and equations involving linear relationships. You also deal a lot with matrics, determinants etc.. <br> It plays a foundational role in various enginerring disciplines, including computer science. The applications of linear algebra are widespread. Ranging from computer graphics and physics simulations to machine learning and optimization problems. Which also makes it clear why we are taking this course.</div>
        </div>
    </div>
</div>
