<div id="main">
    <div>
        <h1 class="text-center">Programming&#128223;</h1>
        <div class="text-center">
            <h3>C/C++</h3>
            <div class="math">C is a powerful and versatile programming language known for its low-level control and efficiency. C++ is an extension of the C programming language with added features such as object-oriented programming. There as the two languages that we have mainly been programming in so far in our courses. Since these are low-level languages it might seem tough in the beginning but its a good place to start since you very much learn to understand fundamentals.</div>
        </div>
    </div>
</div>
